    body{
   background-color: aqua;
        }
#name
{
    color: green;
}
.shivam
{
    border-radius: 10%;
}
.veg{
    border-radius: 100%
}
.veg{
    background-color: orangered;
}
.veg:hover{
    background-color:gold;
}
        hr{
            background-color: none;
            border-style: none;
            border-top-style: dotted;
            border-width: 2px;
            width: 5%;
        }